Repository Sahil-Connect/sahil, pull requests merged in 2024-12, with the labels that each got.

#229 [SAH-107]: Website Refactor
  apps/website/public/about.png
  apps/website/public/agent-business.png
  apps/website/public/agent-desktop.svg
  apps/website/public/agent-mobile.svg
  apps/website/public/agent-supplier.png
  apps/website/public/agent.png
  apps/website/public/cta-yellow.svg
  apps/website/public/cta.png
  apps/website/public/delivery.jpg
  apps/website/public/feature-1.svg
  apps/website/public/feature-2.svg
  apps/website/public/feature-3.svg
  apps/website/public/hero.png
  apps/website/public/service-3.svg
  apps/website/src/app/about/page.tsx
  apps/website/src/app/contact/page.tsx
  apps/website/src/app/features/page.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/page.tsx
  apps/website/src/app/partners/businesses/page.tsx
  apps/website/src/app/partners/couriers/page.tsx
  apps/website/src/app/partners/page.tsx
  apps/website/src/app/partners/suppliers/page.tsx
  apps/website/src/app/privacy-policy/page.tsx
  apps/website/src/components/layout/Footer.tsx
  apps/website/src/components/layout/Navbar.tsx
  apps/website/src/components/segments/About.tsx
  apps/website/src/components/segments/Benefits.tsx
  apps/website/src/components/segments/Cta.tsx
  apps/website/src/components/segments/Faqs.tsx
  apps/website/src/components/segments/Features.tsx
  apps/website/src/components/segments/Hero.tsx
  apps/website/src/components/segments/ParterWithUs.tsx
  apps/website/src/components/segments/RegistrationRole.tsx
  apps/website/src/components/segments/index.tsx
  apps/website/src/components/shared/Card.tsx
  apps/website/src/components/shared/ComingSoon.tsx
  apps/website/src/components/shared/ContactCard.tsx
  apps/website/src/components/shared/Form.tsx
  apps/website/src/components/shared/GridContainer.tsx
  apps/website/src/components/shared/JourneySection.tsx
  apps/website/src/components/shared/PageTitle.tsx
  apps/website/src/components/shared/PartnerCard.tsx
  apps/website/src/components/shared/SectionTitle.tsx
  apps/website/src/components/shared/SectionWrapper.tsx
  apps/website/src/components/shared/index.tsx
  apps/website/src/lib/constants.tsx
  apps/website/tailwind.config.ts
Labels: enhancement 🌻, ready_for_review 🍀, front-end 🦋

#231 [SAH-117]: Courier Map View
  apps/courier/package.json
  apps/courier/src/Layout/layout.tsx
  apps/courier/src/pages/deliveries/[deliveryId].tsx
  apps/courier/src/pages/deliveries/index.tsx
  apps/courier/src/pages/index.tsx
  apps/courier/src/pages/requests/[requestId].tsx
  apps/courier/src/pages/requests/index.tsx
  packages/features/Deliveries/DeliveryDetails.tsx
  packages/features/Deliveries/DeliveryOrders.tsx
  packages/features/Deliveries/DeliveryRequestOverviewCard.tsx
  packages/features/Deliveries/DeliveryStatus.tsx
  packages/features/Deliveries/NavigationPreferences.tsx
  packages/features/Maps/BottomNav.tsx
  packages/features/Maps/MapView.tsx
  packages/features/Maps/TripInfo.tsx
  packages/features/package.json
  packages/ui/components/Avatar.tsx
  yarn.lock
Labels: work_in_progress 🐣, front-end 🦋, 👚 T-Shirt: M, Courier 🚴🏾‍♀️

#233 [SAH-118]: Add Reports Page
  .github/sahil-pay.yml
  apps/client/package.json
  apps/client/src/Layout/layout.tsx
  apps/client/src/pages/account/index.tsx
  apps/client/src/pages/inventory/index.tsx
  apps/client/src/pages/orders/index.tsx
  apps/client/src/pages/products/index.tsx
  apps/client/src/pages/reports/index.tsx
  packages/features/Orders/OrderProgress/OrderProgress.tsx
  packages/features/Orders/OrderProgress/UpdateOrderStatusForm.tsx
  packages/features/Reports/OrderStatusDistribution.tsx
  packages/features/Reports/RevenueByProduct.tsx
  packages/features/Reports/TopClientsByRevenue.tsx
  packages/features/Reports/utils.tsx
  packages/features/Shared/CollectionControls.tsx
  packages/ui/components/IconButton.tsx
  yarn.lock
Labels: ready_for_review 🍀, front-end 🦋, Agent 🦺, Client 🤵🏾‍♂️

#235 [SAH-108]: Dynamic Contact Form on Website
  apps/website/.env.example
  apps/website/package.json
  apps/website/src/app/_action.ts
  apps/website/src/app/partners/businesses/page.tsx
  apps/website/src/app/partners/couriers/page.tsx
  apps/website/src/app/partners/suppliers/page.tsx
  apps/website/src/components/shared/Form.tsx
  apps/website/src/components/shared/index.tsx
  apps/website/src/components/shared/partners/PartnerBusiness.tsx
  apps/website/src/components/shared/partners/PartnerCourier.tsx
  apps/website/src/components/shared/partners/PartnerSupplier.tsx
  apps/website/src/components/shared/partners/index.tsx
  apps/website/src/components/shared/partners/type.ts
  apps/website/src/emails/partner-message.tsx
  apps/website/src/emails/partners.tsx
  apps/website/src/lib/schema.ts
  yarn.lock
Labels: enhancement 🌻, ready_for_review 🍀
